@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
@font-face {
    font-family: 'GillSansBook';
    src: url('../fonts/gill_sans_book-webfont.eot');
    src: url('../fonts/gill_sans_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gill_sans_book-webfont.woff') format('woff'),
         url('../fonts/gill_sans_book-webfont.ttf') format('truetype'),
         url('../fonts/gill_sans_book-webfont.svg#GillSansBook') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img,
embed,
object,
video {
  max-width: 100%;
}
body{
	font-family: 'GillSansBook', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height:100%;
	width:100%;
	background: url(../imgs/ipad_1024/fondo_sitio.jpg) no-repeat left top #FFFFFF;
}
/*												COLUMNA 1											*/
#columna_1{
	margin-left:6.29882813%;
	width:28.4667969%;
	/* margin left + width = 34.76562503%  */
	margin-top:6.38020833333333%;
	margin-bottom:1.692708333333333%;
	height:80.6640625%;
	/* margin top + margin bottom + height  = 88.736979166666663%  */
	float:right;
}
#columna_1 label{
	font-size:1em; /*16px ÷16px (font-size:100%) = tamaño en em */
}
#columna_1 header{
	margin-bottom:21.6796875%;
}
/*												COLUMNA 2											*/
#columna_2{
	float:right;
	margin-top:3.515625%;
	margin-bottom:1.692708333333333%;
	height:83.463541666666667%;
	/* margin top + margin bottom + height  = 88.671875%  */
	margin-right:3.02734375%;
	width:62.20703125%;
	/* margin right + width = 65.234375%  */
	text-align:right;
}
/* ancho de columna 1 (65.234375%) +  ancho de columna 2 (34.76562503%) = 100.00000003% */


/*						PIE						*/
footer{
	clear:both;
	background:url(../imgs/ipad_1024/fondo_pleca.png) no-repeat center left #541885;
	height:11.328125%;
	/* margin right + margin left + width = 100% */
	margin-right:3.02734375% ;
	margin-left:4.4921875%;
	width:92.48046875%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; /* future proofing */
	-khtml-border-radius: 8px; /* for old Konqueror browsers */
}
footer #pie_contenedor{
	height:100%;
/*	padding-left:1.5em;*/
}
footer #pie_contenedor #tabla_pie{
	vertical-align: bottom;
	color:#FFF;
	font-size:1em;
}
footer #pie_contenedor #tabla_pie td{
	/*padding: .8em .3em .8em .3em;*/
	vertical-align: bottom;
}
footer #pie_contenedor a, footer #pie_contenedor span{
	color:#FFF;
	font-size:1em;
	text-decoration:none;
}
footer #pie_contenedor a:hover{
	text-decoration:underline;
}
footer #pie_contenedor p{
	font-size:.75em;
	line-height:1.3;
	color:#FFF;
}
footer #pie_contenedor p a{
	color:#FFF;
	font-size:1.3em;
	text-decoration:none;
}
footer #pie_contenedor p a:hover{
	text-decoration:underline;
}

.clear{
	clear:both;
}
